@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  background-color: #a9d65a;
  font-family: Open Sans;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  padding: 10px 0;
}

main {
  margin: 20px;
}

h1 {
  font-size: 2.5rem;
}

.container {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}


section input {
  width: 25rem;
  height: 3rem;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  margin-right: 10px;
  font-size: 1rem;
  box-sizing: border-box;
  display: flex;
}

section button {
  border: none;
  height: 3rem;
  padding: 0.8rem 1.2rem;
  border-radius: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0px;
}

footer {
    font-size: 0.9rem;
}